/*tudo para o funcionamento do site com qualidade*/
:root {
    scroll-behavior: smooth;
  
    
    --backcolor: #e7e7e7;
    --backcolor2: #d1d1d1;
    --backcolor3: #ebe9e9;
    --color1blue: #012970;
    --color2blue: #012970;
    --color2red: #cd2233;
    --color2redheader: #cd2233;
    --color3bluecian: #2383c4;
    --color4blue2: #022970;
    --colorblack: #1a1b1b;
    --colorwhite: #fff;
    --text-color: #666;
    --bordercolor: rgba(1, 41, 112, 0.1);
    --iconcolor: #2383c4; 
    --mobilenavbar: #022970;
    --buttoncontact: #1a689c;
    --navbar: #03328a;
    
  }
  
  .dark{
    --backcolor2: #4a4b4e;
    --text-color: #f2f2f2;
    --backcolor: #51545c;
    --backcolor3: #3d3e42;
    --color1blue: #2383c4;
    --color2red: #cd2233;
    --color3bluecian: #2383c4;
    --color4blue2: #022970;
    --colorblack: #2383c4;
    --colorwhite: #fff;
    --color2blue: #fff;
    --bordercolor: rgba(200, 217, 248, 0.1);
    --iconcolor: #fff;
    --mobilenavbar: #404b50;
    --buttoncontact: #fff;
    --navbar: #51545c;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}
.wrapper{
    min-height: 100vh;
}
body {
    height: 100vh;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #f2f2f2;
    background-color: var(--backcolor);
}
.section-header p {
    color: var(--color1blue);
    font-size: 30px;
   
}
.section-header{
    font-family: "Nunito", sans-serif;
}
/* fim */

/* navbar*/
nav {
    padding: 0 50px;
    width: 100%;
}

.navbar {
    background-color: #CA1C2A;
    box-shadow: 0px 5px 20px black;
    margin-bottom: 15px;
}

.navbar-nav .nav-item {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 36px;
    font-weight: 400;
}

.navbar .text {
    color: var(--colorwhite);
}

.navbar .text:hover,
a.nav-link.dropdown-toggle.text:hover {
    color: #0170B9;
}

.logo img {
    width: 150px;
    margin-left: 20px;
}

a.nav-link.dropdown-toggle.text {
    color: white;
}
a.nav-link.text {
    color: white;
}
.text{
    cursor: pointer;
}
/*fim navbar*
/*
section {
    width: 100%;
    height: 150vh;
    background: url(../img/messi.jpg)no-repeat center center / cover;
}
*/

/* footer*/
.footer h4,
.card-title {
    text-transform: uppercase;
}

.copy {
    background-color: #212529;
    height: 40px;

}
.social-midia-footer a svg{
    color: #0170B9;
}
.copy p {
    color: grey;
    padding-top: 5px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.about-footer {
    display: flex;
    flex-direction: column;
    text-align: justify;

}

.about-footer img {
    width: 250px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.about-footer .social-midia-footer svg {
    margin: 20px;

}

.about-footer p {
    margin-left: 0px;

}

.info-footer h4 {
    text-align: justify;
    margin-top: 50px;
    margin-left: 120px;
}

.other-footer h4 {
    text-align: justify;
    margin-top: 50px;
}

.contact-footer {
    margin-top: 50px;
    margin-left: -50px;
}

.info-footer ul li,
.other-footer ul li {
    margin-left: 65px;
    text-align: justify;
}

.info-footer a {
    margin-top: 15px;
    margin-left: 120px;
}

.flex li i {
    margin-left: 7px;
}

li {
    list-style: none;
}

.footer span {
    margin-left: 10px;
}

.info-footer li a,
.other-footer li a {
    transition: all 0.3s ease;
}

.info-footer li a:hover,
.other-footer li a:hover {
    color: var(--colorwhite)fff;
    padding-left: 8px;
}

/* text*/

footer .footer {
    display: flex;
    color: white;
    flex-direction: row;
    background-color: #31353B;
    padding-bottom: 50px;
    box-shadow: 0px -20px 45px #31353B;
    margin-top: 50px;
}

footer .footer ul {
    width: 25%;
}

footer .footer h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

footer .footer .redes-socias svg {
    margin-right: 10px;
}

footer .footer ul>p {
    margin-bottom: 40px;
}

footer .footer li {
    margin: 10px 0;

}

footer .footer a {
    color: white;
    text-decoration: none;
}

.contact-footer li p {
    margin-left: 0;
}
/*fim*/
/*dark mod*/
body.dark {
    background: #292c35;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 10px;
    padding: 5px;
    position: relative;
    height: 25px;
    width: 45px;
    transform: scale(1.2);
    margin-left: 10rem;
  
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: -0.6px;
    height: 20px;
    width: 19.5px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #FFBF00;
  }
  
 
/*font mais e menos*/
.btn-container{
    margin-top: 9px;
    position: relative;
    left: 110px;
}
.btn-container button{
    background-color: #0170B9;

}
/*fim*/

/**fim*/
@media (max-width: 960px){
    footer .footer{
        flex-direction: column;
    }
    footer .footer ul{
        width: 100%;
        margin-bottom: 30px;
    }
    .contact-footer,.info-footer a,.info-footer h4{
        margin-left: 0;
   }
}