/*tudo para o funcionamento do site com qualidade*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

.wrapper {
    min-height: 100vh;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #f2f2f2;
    background-color: #e7e7e7;
}

.section-header p {
    color: #4a4b4e;
    font-size: 30px;
   
}
.section-header{
    font-family: "Nunito", sans-serif;
}

/* fim */

/* navbar*/
nav {
    padding: 0 50px;
    width: 100%;
}

.navbar {
    background-color: #CA1C2A;
    box-shadow: 0px 5px 20px black;
    margin-bottom: 15px;
}

.navbar-nav .nav-item {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 36px;
    font-weight: 400;
}

.navbar .text {
    color: #fff;
}

.navbar .text:hover,
a.nav-link.dropdown-toggle.text:hover {
    color: #0170B9;
}

.logo img {
    width: 150px;
    margin-left: 20px;
}

a.nav-link.dropdown-toggle.text {
    color: white;
}
a.nav-link.text {
    color: white;
}
.text{
    cursor: pointer;
}
/*fim navbar*/
/*Carrousel*/
.carrousel {
    margin-bottom: 70px;
}

/*fim carrousel*/
/*card*/

.cards .card {
    margin-left: 25px;
    background-color: #2383c4;
    margin-bottom: 100px;
}

.card-body h5 {
    margin-left: 50px;
}

.card {
    width: 200px;
    align-items: center;
}

.card:hover {
    transform: scale(1.08);
    transition: all ease 0.3s;
}

.cards .card img {
    width: 150px;
    margin-top: 15px;
}

.card-title,
.card-text {
    color: white;
}

.card-body a {
    color: #2383c4;
    border-radius: 250px;

}

.card-body a:hover {
    color: #2383c4;
    transform: scale(1.1);
    transition: all ease 0.3s;
}

/*fim card*/

/*sobre*/
.about {
    background-color: #d1d1d1;
    

}
.about2{
    margin-bottom: 150px;
}

.about h3,
h2,
p,
.btn {
    margin-left: 50px;
}

.about p {
    text-align: justify;

    line-height: 24px;
    color: #666;
    padding-right: 50px;
}

.about h2 {
    text-align: justify;
    font-size: 24px;
}

.about h3 {
    font-size: 20px;
}

.about .btn {
    background-color: #012970;
    color: white;
    width: 200px;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    padding: 15px 40px;
    border-radius: 4px;
    line-height: 0;
    transition: all ease 0.5s;
    margin-bottom: 20px;
}

.about .btn:hover {
    background-color: #012970;
    color: white;
    transform: scale(1.12);
}

/*fim sobre*/
/*
section {
    width: 100%;
    height: 150vh;
    background: url(../img/messi.jpg)no-repeat center center / cover;
}
*/

section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 40px;
  }
  .section-header h2 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
   
    margin: 0;
    color: #012970;
    text-transform: uppercase;
  }
  .section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #666;
  }
  @media (max-width: 768px) {
    .section-header p {
      font-size: 28px;
      line-height: 32px;
    }
  }
/* footer*/
.footer h4,
.card-title {
    text-transform: uppercase;
}

.copy {
    background-color: #212529;
    height: 40px;

}
.social-midia-footer svg{
    color: #0170B9;
}
.copy p {
    color: grey;
    padding-top: 5px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.about-footer {
    display: flex;
    flex-direction: column;
    text-align: justify;

}

.about-footer img {
    width: 250px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.about-footer .social-midia-footer svg {
    margin: 20px;

}

.about-footer p {
    margin-left: 0px;

}

.info-footer h4 {
    text-align: justify;
    margin-top: 50px;
    margin-left: 120px;
}

.other-footer h4 {
    text-align: justify;
    margin-top: 50px;
}

.contact-footer {
    margin-top: 50px;
    margin-left: -50px;
}

.info-footer ul li,
.other-footer ul li {
    margin-left: 65px;
    text-align: justify;
}

.info-footer a {
    margin-top: 15px;
    margin-left: 120px;
}

.flex li i {
    margin-left: 7px;
}

li {
    list-style: none;
}

.footer span {
    margin-left: 10px;
}

.info-footer li a,
.other-footer li a {
    transition: all 0.3s ease;
}

.info-footer li a:hover,
.other-footer li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

/* text*/

footer .footer {
    display: flex;
    color: white;
    flex-direction: row;
    background-color: #31353B;
    padding-bottom: 50px;
    box-shadow: 0px -20px 45px #31353B;
    margin-top: 50px;
}

footer .footer ul {
    width: 25%;
}

footer .footer h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

footer .footer .redes-socias svg {
    margin-right: 10px;
}

footer .footer ul>p {
    margin-bottom: 40px;
}

footer .footer li {
    margin: 10px 0;

}

footer .footer a {
    color: white;
    text-decoration: none;
}

.contact-footer li p {
    margin-left: 0;
}

/*fim*/
/*testimonial*/

.wrapper-test {
    background-color: #2383c4;
    position: relative;
    width: 80vw;
    max-width: 41em;
    min-height: 25em;
    border-radius: 0.6em;
    transform: translate(-50%, -10%);
    left: 50%;
    top: 10%;
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    display: flex;
  }
  .testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
  }
  .wrapper-test button {
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #2383c4;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: #fff;
    box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
    cursor: pointer;
    border-radius: 50%;
  }
  button#next {
    right: -1.1em;
  }
  button#prev {
    left: -1.1em;
  }
  .testimonial-container p {
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.05em;
  }
  .testimonial-container img {
    display: block;
    margin: 1.8em auto 1.25em auto;

    width: 10em;
  }
  .testimonial-container h3 {
    color: #fff;
    font-size: 1em;
    text-align: center;
  }
  .testimonial-container h6 {
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    font-weight: 400;
    text-align: center;
  }
  @media screen and (max-width: 650px) {
    .wrapper-test {
      font-size: 14px;
    }
  }
  
/*fim*/

/*hero section*/


.hero2 {
    width: 100%;
    height: 100vh;
    background: url(../img/backcpaas.png) top center no-repeat;
    background-size: cover;
}


.hero2 .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 10px;
    height: 45px;
    transition: 0.5s;
    text-decoration: none;
    color: #2383c4;
    background: #fff;
    box-shadow: 0px 5px 30px rgba(1, 4, 34, 0.4);
    z-index: 5;

}

.hero .btn-get-started:hover,
.hero2 .btn-get-started:hover {
    transform: scale(1.1);
}

.hero .btn-get-started span,
.hero2 .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.hero .btn-get-started i,
.hero2 .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.hero .btn-get-started:hover i,
.hero2 .btn-get-started:hover i {
    transform: translateX(5px);
}

.hero .hero-img {
    text-align: right;
    z-index: 5;
}

.btn-service:hover {
    transform: scale(1.1);

}
.ti-cpaas{
    margin: 0;
}

/*contact*/
.contact-in{
    background-color: #d1d1d1;
    
}
.contact-in h2{
    color: #2383c4;
    font-size: 25px;
    text-align: left;
   

}
.contact-in h2, .contact-in h1,.contact-in p{
    margin-left: 15px;
}
.contact-in h1{
    font-size: 24px;
	color:#012970;
	margin-bottom: 25px;
    margin-top: 15px;
}
.contact-in h2 i{

    color: #012970;
}
.social-midia-contact{
    color:#012970;
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
}
.social-midia-contact svg{
    margin-left: 15px;
}

.form-contact{
    background-color: #e7e7e7;
}
.contact-in-input {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
  border-radius: 25px;
	outline: none;
	padding-left: 5px;
  background-color: #d1d1d1;
  border: none;
  color: #666;
	font-size: 18px;
	font-weight: 300;
  padding-left: 5px;
}
.contact-in-textarea {
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	border: 1px solid #e7e7e7;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
  border-radius: 25px;
	color: #666;
  background-color: #d1d1d1;
	font-size: 20px;
	font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
.contact-in-textarea::placeholder {
	color: #666;
  font-size: 15px;
  padding-left: 10px;
}
.contact-in-btn {
	background: #2383c4;
  border: 0;
  padding: 10px 24px;
  margin-left: 6em;
  width: 50%;
  color: #fff;
  transition: 0.4s;
  border-radius: 45px;
}

.contact-in-btn:hover{
  color: #2383c4;
  background-color: #1a689c;
  transform: scale(1.1);
}
.localition iframe {
	width: 100%;
	height: 99%;
}
/*fim*/

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }

    .hero .hero-img {
        text-align: center;
        margin-top: 80px;
    }

    .hero .hero-img img {
        width: 80%;
    }

    #ti-cpaas {
        font-size: 30px;
        color: #4a4b4e;

    }

    #ti-cpaas2 {
        font-size: 20px;
        color: #4a4b4e;

    }

    .ti-cpaas {
        font-size: 15px;
        color: #4a4b4e !important;

    }

}

@media (max-width: 768px) {
    .hero {
        text-align: center;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero h2 {
        font-size: 22px;
    }

    .hero .hero-img img {
        width: 1000%;
        margin-bottom: 5rem;
    }
    section.hero2 {
        height: 100%;
    }

    .hero2 {
        display: none;
    }

    .about {
        margin-bottom: 4rem;
    }
}

/*fim*/
@media (max-width: 960px) {
    footer .footer {
        flex-direction: column;
    }

    footer .footer ul {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-footer,
    .info-footer a,
    .info-footer h4 {
        margin-left: 0;
    }

    .about-footer p,
    .contact-footer p {
        margin-left: 0;
        padding-right: 20px;
    }

    .about h2 {
        text-align: justify;
        font-size: 20px;
    }


}